/* Rectangle 2 */
.mainrec{
position: absolute;
width: 1440px;
height: 24px;
left: 0px;
top: 74px;

background: #831A1A;
}

/* Rectangle 1 */
.mainrec1{
position: absolute;
width: 1440px;
height: 74px;
left: 0px;
top: 0px;

background: #AA5959;
}

/* Ellipse 1 */
.mainell{
position: absolute;
width: 181px;
height: 129px;
left: 31px;
top: 10px;

background: #B18181;
border-radius: 50%;
}

/* cat 1 */
.cat1{
position: absolute;
width: 129px;
height: 106px;
left: 57px;
top: 18px;

background: url(/smolcat.webp);
border-radius: 198.5px;
}


/* CAPULUS */
.maincapulus{
position: absolute;
width: 571px;
height: 10px;
left: 559px;
top: 4px;

font-family: Reenie Beanie;
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 72px;

color: #000000;

}

/* Home */
.home{
position: absolute;
width: 122px;
height: 74px;
left: 936px;
top: 0px;

font-family: Rancho;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;

color: #000000;
}


/* Types-of-Coffee-Drinks */
.coffeebg{
position: absolute;
width: 1440px;
height: 1420px;
left: 0px;
top: 98px;

background: url(/img/Types-of-Coffee-Drinks_1200X1200.jpg);
}

/* cover rec */
.cover {
position: absolute;
width: 590px;
height: 432px;
left: 320px;
top: 98px;

background: #889790;
}

/* owl */
.owl{
position: absolute;
width: 285px;
height: 275px;
left: 428px;
top: 113px;

background: url(/owl.webp);
border-radius: 210.5px;
}

/* Choose your Poison! */
.poison{
position:absolute;
width: 450px;
height: 66px;
left: 353px;
top: 355px;

font-family: Reenie Beanie;
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 72px;

color: #000000;
}

/* Black Coffe Rectangle */
.coffeerec{
position: absolute;
width: 252px;
height: 251px;
left: 60px;
top: 158px;

background: transparent;
}

/* menu */
.menu{
position: absolute;
width: 80px;
height: 42px;
left: 1337px;
top: 18px;
z-index: 1;
display: flex;
background:url(/menu.png);
}